/* 
Author: Brenden Riley
Date: 8.20.19
*/

#player {
    width: 50%;
    float: left;
    font-size: 2em;
    text-align: center;
}

#enemy {
    width: 50%;
    float: right;
    font-size: 2em;
    text-align: center;
}

#battleZone {
    height: 500px;
    border: 5px dashed black;
    clear: both;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#findEnemy {
    margin-left: auto;
    margin-right: auto;
}

#health {
    background-color: red;
    border: 1px solid black;
    padding-left: 25%;
    padding-right: 25%;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#mana {
    background-color: blue;
    border: 1px solid black;
    padding-left: 25%;
    padding-right: 25%;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#buttons1{
    margin-left: auto;
    margin-right: auto;
}

#buttons2{
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    padding: 5px;
    width: 75%;
    font-size: 16px;
    color: white;
    height: 50px;
    border: 3px solid black;
    margin-bottom: 10px;
}

#attack{
    background-image: linear-gradient(to bottom right, rgb(240, 39, 39), rgb(240, 151, 35));
    margin-top: 10px;
}
#magic{
    background-image: linear-gradient(to top right, rgb(163, 8, 8),rgb(109, 69, 69));
}
#hPotion{
    background-image: linear-gradient(to bottom right, rgb(236, 14, 6), rgb(12, 141, 173));
}
#mPotion{
    background-image: linear-gradient(to top right, rgb(41, 112, 153), rgb(63, 190, 31));
}